* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #222;
  color: #bbb;
}

body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
